*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080710;
}

.login_sectinon {
    position: relative;
    animation: login_sectinon 1.5s steps(50) 0.3s both;
}

@keyframes login_sectinon {
    0% {
        top: -60%;
    }

    50% {
        top: 25%;
    }

    100% {
        top: 35%;
    }
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 140px;
    width: 140px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -36px;
    top: -64px;
}

.login_btn {
    margin-top: 30px;
}

.shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -70px;
    bottom: -110px;
}

form {
    height: 600px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -40%);
    top: -40px;
    left: 51%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 25px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.section_form {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

select {
    display: block;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.07);
}

label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 30px;
    width: 70%;
    background-color: #5e5555;
    color: #efeef6;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
}

button a {
    text-decoration: none;
}

.remember_me {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check_btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.checkbox {
    width: 16px;
    margin-right: 4px;
}

.forgotten a {
    font-size: 13px;
    color: white;
}

.forgotten a:hover {
    color: #999999 !important;
}

.select_section input {
    display: inline-block;
    width: 20px;
    height: 16px;
    margin-right: 10px;
}

.Section {
    margin-right: 15px;
}

.alert {
    position: absolute !important;
    width: 30%;
    margin-left: 15px;
}

.subject_rejester label {
    margin-top: 10px;
}

.subject_rejester button {
    margin-top: 15px;
}